@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}



.roboto-thin {
  font-family: "Montserrat", sans-serif;
}

.background-landing {
  background: rgb(186, 154, 255);
  background: linear-gradient(
    180deg,
    rgba(186, 154, 255, 1) 0%,
    rgba(255, 166, 246, 0) 100%
  );
}

.filtro-color-box-1 {
  background-color: #7a6efe;
}

.filtro-color-box-2 {
  background-color: #ff5363;
}

.filtro-color-box-3 {
  background-color: #ffa901;
}

.color-box-historial {
  background-color: #fafafa;
}

.text-color-historial {
  color: #b5b5c3;
}

.background-principal {
  background-color: #f5f5f5;
}

.height-per3 {
  height: 50rem;
}

.height-per {
  height: 55.5rem;
}

.height-sm {
  height: 43rem;
}

.height-per2 {
  height: 51rem;
}

.imagen-operacion {
  width: 36rem;
}

.barra-sep {
  width: 80px;
  height: 2px;
  background-color: #000;
  margin-bottom: 23px;
}

/* CAMBIOS EN LAS HERRAMIENTAS DE LOS NAVEGADORES */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}
