@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light !important;
  }
}

.montserrat-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.background-landing {
  background: rgb(186, 154, 255);
  background: linear-gradient(180deg, rgba(186, 154, 255, 1) 0%, rgba(255, 166, 246, 0) 100%);
}

.filtro-color-box-1 {
  background-color: #7a6efe;
}

.filtro-color-box-2 {
  background-color: #FF5363;
}

.filtro-color-box-3 {
  background-color: #FFA901;
}

.color-box-historial {
  background-color: #FAFAFA
}

.text-color-historial {
  color: #B5B5C3;
}

.background-principal {
  background-color: #F5F5F5
}